<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mediciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Valor</th>
        <th>Dispositivo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elemento of listado">
        <td>{{ elemento.medicionId }}</td>
        <td>{{ elemento.fecha }}</td>
        <td>{{ elemento.valor }}</td>
        <td>{{ elemento.dispositivoId }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
